node_modules/
dist/
.DS_Store
deploy-static/
mini/

# Generated public image links from sync-data.mjs
public/rhs-images
public/mrmaple-images
public/herter-images
public/ncsu-images
public/coniferkingdom-images
